VITE_API_URL=
VITE_IS_HOSTED=false
VITE_APP_TITLE="Invoice Ninja"

# Supported values: "browser", "hash"
VITE_ROUTER=hash
VITE_WHITELABEL_INVOICE_URL=https://app.invoiceninja.com/buy_now/?account_key=AsFmBAeLXF0IKf7tmi0eiyZfmWW9hxMT&product_id=3

VITE_GOOGLE_CLIENT_ID=
VITE_MICROSOFT_CLIENT_ID=

VITE_DEMO_ENDPOINT=https://demo.invoiceninja.com
VITE_DEMO_EMAIL=
VITE_DEMO_PASSWORD=
