@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes jiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(3deg);
  }
}

@layer utilities {
  .animate-jiggle {
    animation: jiggle 0.8s ease-in-out infinite;
  }
}
