@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes jiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(3deg);
  }
}

@layer utilities {
  .animate-jiggle {
    animation: jiggle 0.8s ease-in-out infinite;
  }
}

.phone-input-field > input {
  background-color: transparent !important;
  border-radius: 0.375rem !important;
  outline: none !important;
  box-shadow: none !important;
}

.phone-input-field-dark > input {
  border-color: #1f2e41;
}

.phone-input-field-dark > input:focus {
  border-color: white;
}

.phone-input-field-light > input {
  border-color: #09090b26;
}

.phone-input-field-light > input:focus {
  border-color: black;
}
